@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color : #fc0;
    --text-color : #353535;
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
    --font3: "Baloo Da 2", sans-serif;
}




/* *Common CSS Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a,ul,ol,li{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family:var(--font-family);
}

.container{
    width: 1110px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    padding:10px 30px ;
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 180%;
border:none ;
border-radius: 20px;
}

.btn-primary{
    background: var(--primary-color);
  
}

.btn-primary:hover{
    background:  rgb(228, 183, 4);
    
}

.btn-secondary{
    color: var(--text-color);
    background: white;
    border: 1px solid var(--text-color);
    margin-left: 32px;
}

.section-heading{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: var(--text-color);
}

/* *Common CSS End */

/* *Header Section Start */

.navMenu li a{
font-weight: 500;
font-size: 15px;
line-height: 200%;
color: var(--text-color);
padding: 0 21px !important;
display: inline-block;
position: relative;
}

.navMenu li a::after{
     position: absolute;
    content: '';
    width: 0;
    height: 1px;
    right:0;
    bottom: 0;
    background: #0c0c0c;
    transition:  0.6s;
}

.navMenu li a:hover::after{
     width: 100%;
    right: auto;
    left: 0;
       /* border-bottom: 2px solid var(--text-color) */
}

.navMenu li a.active,
.navMenu li a:hover{
    border-bottom: 2px solid var(--text-color)
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    /* outline: none; */
    box-shadow: none;
}


/* *Header Section End */

/* banner section start */

#banner{
    padding: 62px 0;
    position: relative;
}


#banner .bannerText .greetings{
font-weight: 400;
font-size: 24px;
color: var(--text-color);
margin-bottom: 15px;
}

#banner .bannerText .greetings span{
    color: var(--primary-color);
}

#banner .bannerText h2{
 font-family: var(--second-family);
font-weight: 700;
font-size: 64px;
color: var(--text-color);

}

#banner .bannerText .para{
font-weight: 400;
font-size: 20px;
line-height: 180%;
color: var(--text-color);
margin:25px 0 40px 0 ;
}

#banner .bannerImg img{
    width: 100%;
}

.social-icon span{
font-weight: 500;
font-size: 22px;
line-height: 180%;
color: var(--text-color);
}

.social-icon a{
    margin: 0 8px;
    color: var(--text-color);
    background: #f4f3f3;
    font-size: 22px;
    padding: 10px;
    width: 40px;
    border-radius: 100%;
    height: 40px;
     justify-content: center;
    display: inline-flex;
    align-items: center;   
    
}

#banner .mouse{
    position: absolute;
    font-size: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

/* banner section end */

/* *about me section start*/

#about{
    margin: 100px 0 0;
    background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
    /* position: relative; */
}

/* #about .row{
    align-items: center;
    justify-content: space-between;
} */

#about .aboutImg img{
     width: 100%;
}

#about .aboutText h3{
margin-top: 78px;
}

#about .aboutText p{
font-weight: 400;
font-size: 20px;
line-height: 190%;
color: var(--text-color);
margin: 26px 0 45px 0;
}

#about .aboutText .btn-secondary{
/* font-weight: 500;
font-size: 18px;
line-height: 180%;
border-radius: 20px;
margin-bottom: 86px; */

padding: 8.5px 22px;
background: transparent;
margin-left: 0;
}

#about .aboutText .btn-secondary:hover{
    background-color: rgb(248, 204, 27);
} 

.ellipse01 img{
    /* position: absolute; */
    width:80%
}

/* *about me section end*/

/* *skills section start */

#skills{
    padding: 130px 0;
}

#skills .row{
    justify-content: space-around;
    align-items: center;
} 

#skills .card-items{
border-radius: 20px;
width: 350px;
height: 367px;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
background: #fff;
text-align: center;
}

#skills .card-items:hover{
    background: var(--primary-color);
    cursor: pointer;
}

#skills .card-items h3{
font-weight: 600;
font-size: 22px;
line-height: 180%;
color: var(--text-color);
margin: 18px 0 14px ;
}

#skills .card-items p{
font-weight: 500;
font-size: 16px;
line-height: 190%;
color: #7a7a7a;
/* margin-bottom: 5px; */
}

#skills .card-items img{
    margin: 39px 0 18px 0;
    /* width: 78px;
    height: 79px; */
}


/* *skills section end */

/* *branding section start*/

#branding{
    padding: 120px  0;
}

#branding .container{
border-radius: 30px;
/* width: 1110px; */
/* height: 473px; */
background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
}

#branding .brandingImg img{
    width: 92%;
    margin-bottom: 0;
}

#branding .brandingText h3{
    margin-top: 83px;
}

#branding .brandingText p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 190%;
color: #353535;
margin-top: 21px;
margin-bottom: 26px;
}

#branding .brandingText .btn-secondary{
padding: 9px 20px;
background: transparent;
margin-left: 0;
}

#branding .brandingText .btn-secondary:hover{
    background-color: rgb(248, 204, 27);
} 

#branding .brandingText img{
    margin-bottom: 60px;
}

.ellipse02 img{
    width: 100%;
}

/* *branding section end */

/* *service section start*/

#service{
    padding: 90px;
}

.serviceApp{
    padding: 18px 30px;
    width: 380px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 24px;
}

.serviceApp .row{
    align-items: center;
    justify-content: center;
}

.serviceApp .serviceImg img{
    width: 50px;
}

.serviceApp .serviceTitle h4{
font-weight: 600;
font-size: 18px;
line-height: 180%;
color: var(--text-color);
}

.serviceApp .serviceTitle p{
font-weight: 500;
font-size: 12px;
line-height: 180%;
color: var(--text-color);
}

#service .serviceRight h3{
    text-align: right;
}

#service .serviceRight p{
font-weight: 400;
font-size: 20px;
line-height: 190%;
text-align: right;
color: var(--text-color);
}

/* #service .serviceRight .clint{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
 
#service .clint .clientSer1 h5{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  color: var(--text-color);
}
#service .clint .clientSer1 p{
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: var(--text-color);
  text-align: right;
}

/* *service section end*

/* *Task section start */
#task {
  padding: 35px 0;
  background: #fff7d5;
}

#task h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: var(--text-color);
  padding: 13px 0 13px 0;
}
#task p {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 72px;
}
#task .taskCard1 {
  border: 0.1px solid #353535;
  border-radius: 12px;
  width: 350px;
  height: 422px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border: none;
  text-align: center;
}
#task .taskSector .row {
  align-items: center;
  justify-content: space-between;
}
#task .taskSector .taskCard1 img {
  width: 88px;
  padding: 32px 0 29px 0;
}
#task .taskCard1 h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  color: var(--text-color);
}
#task .taskSector.taskCard1 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  text-align: center;
  color: #7a7a7a;
  padding: 50px;
}
#task .taskCard2 {
  border: 0.1px solid #353535;
  border-radius: 12px;
  width: 372px;
  height: 448px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  background: linear-gradient(151deg, #fc0 0%, #ffe476 98.84%);
  border: none;
  text-align: center;
}
#task .taskCard2 img {
  width: 88px;
  padding: 32px 0 20px 0;
}
#task .taskCard2 h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 180%;
  text-align: center;
  color: var(--text-color);
}
/* *Task section end */

/* *Feedback section staret */
#feedback {
  padding: 92px 0px;
  background: #fbfbfb;
}

#feedback .feedbackMyclient h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 135%;
  color: var(--text-color);
}
#feedback .feedbackMyclient p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #7a7a7a;
  padding: 13px 0 63px 0px;
}
#feedback .feedbacClient .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#feedback .feedbacClient .clientImg img {
  width: 5oopx;
  margin-bottom: 20px:
}
#feedback .feedbacClient .feedbackOne p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #7a7a7a;
}

#feedback .feedbacClient .feedbackOne h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  color: var(--text-color);
}
#feedback .feedbacClient .feedbackOne h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* text-align: center; */
  color: #7a7a7a;
}
/* *Feedback section end*/

/* *Letter section start */
#letter {
  padding: 100px 0px;
}
#letter .container {
  border-radius: 30px;
  padding: 82px 0 82px 50px;
  /* width: 1110px; */
  height: 250px;
  background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
}
#letter .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#letter .letterText h6 {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
}
#letter .letterText h2 {
  font-weight: 600;
  font-size: 30px;
  color: var(--text-color);
}
#letter .letterText p {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
}
#letter .split-button {
  display: inline-flex;
  border-radius: 5px;
}
#letter .main-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #7a7a7a;
  border-radius: 16px;
  border: none;
  width: 350px;
  padding: 15px 150px 15px 50px;
  background: #fff;
}
#letter .sub-button {
  background: #ff6565;
  border-radius: 0 16px 16px 0;
  width: 132px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
}
/* *Letter section end */
